/******* MISSION STATEMENT *********/
#mission-statement p,
#location p {
    font-size: 20px;
    line-height: 30px;
}

/******* WAYS TO GIVE *********/
.about {
    text-align: center;
    border: solid 1.5px orange;
    border-radius: 50px;
    margin: 0 15%;
    padding: 55px;
    box-shadow: 10px 10px 5px gray;
}

.about-heading {
    padding-top: 50px;
}

.space {
    padding-top: 50px;
}
